
<div class="main-content">
    <div class="header-content employee-header">
      <div class="emp-detail-text">
        Employee Details
      </div>
        <button class="add-button" (click)="onAddUser()"><img src="" />Add User</button>
    </div>


    <div class="table-main">
      <table id="table-display" class="table">
        <tr>
          <!--Table header-->
          <th>id</th>
          <th>fName</th>
          <th>gender</th>
          <th>profilepic</th>
          <th>Department</th>
          <th>salary</th>
          <th>startDate</th>
          <th>note</th>
          <th>Action</th>
         </tr>
      </table>
    </div>
</div>
